<!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://fonts.googleapis.com/css?family=Oleo+Script:400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Teko:400,700" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

 <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">
     <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Orange_logo.svg/1200px-Orange_logo.svg.png">
     </a>
     <button type="button" class="btn btn-secondary">Secondary</button>

</nav>






<br>
&nbsp;  <button   (click)="getx()" ><strong>Show  Statistics</strong></button>
<a href="/rule">&nbsp;  <button  ><strong>  Show Event </strong></button></a>

<br>
<br>


<div class="row">
  <div class="col-md-4">
    <div class="card ">
      <div class="stats">
            
        &nbsp;&nbsp; <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> <strong style="color:rgba(226, 86, 21, 0.87);" >  Number of events :</strong>  {{this.rulex + this.ruley + this. rulez}} 
      </div>
      <div class="card-header ">
        
        <p style="color:rgba(226, 86, 21, 0.87);"><strong>Statistics</strong></p>

      </div>
      <div class="card-body ">
        <canvas id="chartEmail"></canvas>
      </div>
      <div class="card-footer ">
        <div class="legend">
         
          <i class="fa fa-circle text-warning"></i> Updated
          <i class="fa fa-circle text-danger"></i> Whrited
          <i class="fa fa-circle text-info"></i> Delted
        </div>
        <hr>
      
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">NASDAQ: AAPL</h5>
        <p class="card-category">Line Chart with Points</p>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tesla Model S
          <i class="fa fa-circle text-warning"></i> BMW 5 Series
        </div>
        <hr/>
        <div class="card-stats">
          <i class="fa fa-check"></i> Data information certified
        </div>
      </div>
    </div>
  </div>
</div>

