



.content-header{
  font-family: 'Oleo Script', cursive;
  color:#fa630bd5;
  font-size: 45px;
}

.section-content{
  text-align: center; 

}
.orange-circle-button {
  box-shadow: 2px 4px 0 2px rgba(0,0,0,0.1);
  border: .5em solid rgba(232, 76, 14, 0.856);
  font-size: 1em;
  line-height: 1.1em;
  color: #ffffff;
  background-color: #e84c0ee1;
  margin: auto;
  border-radius: 50%;
  height: 5em;
  width: 5em;
  position: relative;
}
#contact{
    
    font-family: 'Teko', sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 1550px;
  background: #3a6186; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #3a6186 , rgb(223, 219, 215)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #999da152 , #f0e2da09); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #fff;    
}
.contact-section{
  padding-top: 40px;
}
.contact-section .col-md-6{
  width: 50%;
}

.form-line{
  border-right: 1px solid #B29999;
}

.form-group{
  margin-top: 10px;
}
label{
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control{
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
    height: 135px;
   /* margin-top: px;*/
}

.submit{
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;

}
